<div class="row mb-4">
  <div class="col">
    <div class="card">
      <h2 class="card-header">
        git status
      </h2>

      <div class="card-block">
        <% if @diff_html.present? %>
          <iframe srcdoc="<%= @diff_html %>" width="100%" height="400">
          </iframe>

          <div class="row">
            <div class="col">
              <%= form_tag dev_git_commits_url do %>
                <div class="form-group">
                  <%= label_tag :title %>
                  <%= text_field_tag :title, nil, placeholder: "Enter a title for your commit (required)", class: "form-control", required: true %>
                </div>

                <div class="form-group">
                  <%= label_tag :description %>
                  <%= text_area_tag :description, nil, placeholder: "Enter a longer description of your changes (optional)", class: "form-control" %>
                </div>

                <%= button_tag "Commit and Push these changes to GitHub", class: "btn btn-primary btn-block" %>
              <% end %>
            </div>

            <div class="col align-self-center">
              <%= button_to "Discard these changes", dev_git_commits_stash_url, class: "btn btn-danger btn-block", method: :post, data: { confirm: "Are you sure you want to discard these changes?" } %>
            </div>
          </div>

        <% else %>

          <div class="row">
            <div class="col">
              <pre>
                <%= simple_format @status %>
              </pre>
            </div>

            <div class="col">
              <%= form_tag dev_git_branches_url do %>
                <div class="form-group">
                  <%= label_tag :name %>
                  <%= text_field_tag :name, nil, placeholder: "Enter the name of the branch to create...", class: "form-control" %>
                </div>
                <%= button_tag "Create a new branch", class: "btn btn-primary btn-block" %>
              <% end %>

              <h3>Branch list</h3>

              <pre>
                <%= simple_format @branches %>
              </pre>

              <%= form_tag dev_git_branches_checkout_url, method: :get do %>
                <div class="form-group">
                  <%= label_tag :name %>
                  <%= text_field_tag :name, nil, placeholder: "Enter the name of the branch to switch to...", class: "form-control" %>
                </div>
                <%= button_tag "Switch to branch", class: "btn btn-primary btn-block" %>
              <% end %>
            </div>
          </div>
          <pre>
            <%= simple_format @log %>
          </pre>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col">
    <div class="card">
      <h2 class="card-header">
        Branches
      </h2>

      <div class="card-block">

      </div>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col">
    <div class="card">
      <h2 class="card-header">
        Log
      </h2>

      <div class="card-block">
        <pre><%= simple_format @log %></pre>
      </div>
    </div>
  </div>
</div>
