<div class="row mb-4">
  <div class="col">
    <div class="card">
      <h1 class="card-header">
        <% if @diff_html.present? %>
          On branch <code><%= @current_branch %></code>
        <% else %>
          <code>git status</code>
        <% end %>
      </h1>

      <div class="card-block">
        <% if @diff_html.present? %>
          <p class="h4 mb-3 text-center">
            You have changes
          </p>

          <iframe srcdoc="<%= @diff_html %>" width="100%" height="400" class="mb-3">
          </iframe>

          <p class="h4 mb-3 text-center">
            What do you want to do?
          </p>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-header h6">
                  Commit your changes to the current branch
                </div>

                <div class="card-block">

                  <%= form_tag dev_git_commits_url do %>
                    <div class="form-group">
                      <%= label_tag :title %>
                      <%= text_field_tag :title, nil, placeholder: "Enter a title for your commit (required)...", class: "form-control", required: true %>
                    </div>

                    <div class="form-group">
                      <%= label_tag :description %>
                      <%= text_area_tag :description, nil, placeholder: "Enter a longer description of your changes (optional)...", class: "form-control" %>
                    </div>

                    <%= button_tag "Commit to #{@current_branch}", class: "btn btn-success btn-block" %>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="row mb-2">
                <div class="col">
                  <div class="card">
                    <div class="card-header h6">
                      Switch to a new branch
                    </div>

                    <div class="card-block">
                      <%= form_tag dev_git_branch_url, class: "full-width mb-2" do %>
                        <div class="form-group">
                          <%= label_tag :name, nil, class: "sr-only" %>
                          <%= text_field_tag :name, nil, placeholder: "Enter a name for the branch to create...", class: "form-control" %>
                        </div>
                        <%= button_tag "Create a new branch", class: "btn btn-primary btn-block" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-header h6">
                      Discard your changes
                    </div>

                    <div class="card-block">
                      <%= button_to "Discard all changes", dev_git_commits_stash_url, class: "btn btn-danger btn-block", method: :post, data: { confirm: "Are you sure you want to discard these changes?" } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <% else %>

          <div class="row">
            <div class="col">
              <pre>
                <%= simple_format @status %>
              </pre>

              <% if @status.include?("Your branch is up-to-date") %>
                <%= link_to "Can't git push — already up-to-date", dev_git_commits_push_url, class: "btn btn-primary btn-block mb-4 disabled" %>
              <% else %>
                <%= link_to "git push", dev_git_commits_push_url, class: "btn btn-primary btn-block mb-4" %>
              <% end %>

              <p>
                The last thing you did was
              </p>

              <blockquote class="blockquote">
                <%= @latest_commit_message %>
              </blockquote>

              <%= link_to "Show latest commit", "#latest_diff_html", class: "btn btn-secondary btn-block mb-4", data: { toggle: "collapse"}  %>



              <div id="latest_diff_html" class="collapse">
                <iframe srcdoc="<%= @latest_diff_html %>" width="100%" height="400" class="mb-3">
                </iframe>
              </div>
            </div>

            <div class="col">
              <ul class="list-group">
                <li class="list-group-item list-group-item-success">
                  Create a new branch
                </li>

                <li class="list-group-item">
                  <%= form_tag dev_git_branch_url, class: "full-width mb-2" do %>
                  <div class="form-group">
                    <%= label_tag :name, nil, class: "sr-only" %>
                    <%= text_field_tag :name, nil, placeholder: "Enter a name for the branch to create...", class: "form-control" %>
                  </div>
                  <%= button_tag "Create a new branch", class: "btn btn-primary btn-block" %>
                  <% end %>
                </li>

                <li class="list-group-item list-group-item-info">
                  Existing branches
                </li>

                <li class="list-group-item">
                  <pre>
                    <%= simple_format @branches %>
                  </pre>
                </li>

                <li class="list-group-item">
                  <%= form_tag dev_git_branch_url, method: :get, class: "full-width" do %>
                    <div class="form-group">
                      <%= label_tag :name, nil, class: "sr-only" %>
                      <%= text_field_tag :name, nil, placeholder: "Enter the name of the branch to switch to...", class: "form-control" %>
                    </div>
                    <%= button_tag "Switch to branch", class: "btn btn-primary btn-block" %>
                  <% end %>
                </li>

                <li class="list-group-item">
                  <%= form_tag dev_git_branch_url, method: :delete, class: "full-width" do %>
                    <div class="form-group">
                      <%= label_tag :name, nil, class: "sr-only" %>
                      <%= text_field_tag :name, nil, placeholder: "Enter the name of the branch to delete...", class: "form-control" %>
                    </div>
                    <%= button_tag "Delete branch", class: "btn btn-danger btn-block", data: { confirm: "Are you sure you want to delete a branch?" } %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col">
    <div class="card">
      <h2 class="card-header">
        History
      </h2>

      <div class="card-block">
        <p class="lead">Do you want to jump back in time and go down a different path?</p>
        <%= form_tag dev_git_branch_url do %>
          <div class="form-group">
            <%= label_tag :commit_hash, "Branch off of" %>
            <%= text_field_tag :commit_hash, nil, placeholder: "Enter the 6 digit number preceding the commit you want to branch off of...", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= label_tag :name, "Branch name" %>
            <%= text_field_tag :name, nil, placeholder: "Enter a name for the new branch...", class: "form-control" %>
          </div>

          <% if @diff_html.present? %>
            <%= button_tag "Can't go back in time while you have pending changes. Commit or discard them first.", class: "btn btn-primary btn-block", disabled: true %>
          <% else %>
            <%= button_tag "Create a new branch off of previous commit", class: "btn btn-primary btn-block" %>
          <% end %>
        <% end %>

        <pre>
          <%= simple_format @log %>
        </pre>
      </div>
    </div>
  </div>
</div>
